<view id="menu-view">
    <section id="header" border="true" height="3" cols="6">
        <label>Application Manager</label>
        <label colspan="6" align="right">ahuyuktepe</label>
    </section>
    <section id="header" border="true" height="3">
        <message id="msg1"/>
    </section>
    <section id="header" border="true" height="3">
        <nav id="nav1" menus="main,test,test1"/>
    </section>
    <section id="header" border="true" height="3">
        <menu-input id="menu-input-1"/>
    </section>
</view>