<view id="menu-view">
    <section id="header-section" border="true" height="3" cols="6">
        <label id="app-title">Application Manager</label>
        <label id="username" colspan="6" align="right">ahuyuktepe</label>
    </section>
    <section id="msg-section" border="true" height="3">
        <message id="msg1"/>
    </section>
    <section id="body-section" border="true" height="30">
        <nav id="nav1" menus="main,test,test1,test2,test3,test4" nameWidth="20"/>
        <menu id="menu1" border="true"/>
        <menu-input id="menu-input-1"/>
    </section>
    <section id="msg-section" border="true" height="4">
         <label y="1" x="2">up: w</label>
         <label y="2" x="2">down: s</label>
    </section>
</view>